@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', serif;
    background-image: url(../images/japanese_bg.png);
    background-size: cover;
    height: 100vh;
}

body::-webkit-scrollbar{
    width: 0.5rem; /* Set the width of the scrollbar */
    background-color: rgb(68, 68, 68);
}

body::-webkit-scrollbar-thumb {
    background-color: #d30000; /* Set the background color of the scrollbar thumb */
    border-radius: 2rem; /* Set the border radius of the scrollbar thumb */
}

#catalog{
    padding: 5rem 4rem;
    line-height: 4rem;
    color: white;
}

#catalog #search-bar{
    display: flex;
    align-items: center;
}

#catalog #search-bar i{
    position: absolute;
    font-size: 0.9rem;
    color: rgb(92, 92, 92);
    margin-left: 1rem;
}

#catalog #search-bar #catalog-search{
    padding: 0 2.5rem;
    height: 2.5rem;
    width: 15rem;
    border-radius: 1.5rem;
    outline: none;
    border: none;
}

#catalog #search-bar #catalog-search:focus{
    outline: 0.16rem solid red;
}

#catalog .catalog-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    padding: 3rem 0 3rem 0;
    gap: 1rem;
}


#catalog .catalog-container .catalog{
    height: 18rem;
    width: 23rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.2rem solid rgba(71, 71, 71, 0.253);
    backdrop-filter: blur(1rem);
    cursor: pointer;
    overflow: hidden;

    opacity: 0;
    animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-in {
    to{
        opacity: 1;
    }
}


#catalog .catalog-container .catalog img{
    height: 100%;
    width: 100%;
}

#catalog .catalog-container .catalog div{
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    margin-top: -5.7rem;
    padding: 0 1.5rem;
    width: 23rem;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.253); 
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color:white;
    backdrop-filter: blur(1.5rem);

    transition: 0.5s ease-in-out;
}

#catalog .catalog-container .catalog:hover div{
    margin-top: -15rem;
}


#catalog .catalog-container .catalog div span{
    height: 1rem;
    font-size: 0.9rem;
}

#catalog .catalog-container .catalog div p{
    font-size: 0.9rem;
    margin-top: 4rem;
    line-height: 1rem;
}

#catalog .catalog-container .catalog:hover div span{
    font-size: 1.3rem;
}