#video-background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

video{
    width: 100%;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1rem);
}

.form-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 20rem;
    overflow: hidden;
}

.form-container #login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    transition: 0.5s ease-in-out;
}

.form-container #login-form span{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.form-container #login-form #userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.form-container #login-form #userForm input{
    height: 2.3rem;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: none;
}

.form-container #login-form #userForm input:focus{
    outline-color: red;
}

.form-container #login-form #userForm button{
    height: 1.8rem;
    width: 18rem;
    border: none;
    color: white;
    background-color: rgb(219, 66, 66);
    margin-top: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.form-container #login-form #create_account{
    color: white;
    background-color: transparent;
    margin-top: -0.5rem;
    border: none;
    cursor: pointer;
}









.form-container #register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    transition: 0.5s ease-in-out;
}

.form-container #register-form span{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.form-container #register-form #registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.form-container #register-form #registerForm input{
    height: 2.3rem;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: none;
}

.form-container #register-form #registerForm input:focus{
    outline-color: red;
}

.form-container #register-form #registerForm button{
    height: 1.8rem;
    width: 18rem;
    border: none;
    color: white;
    background-color: rgb(219, 66, 66);
    margin-top: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.form-container #register-form #login_account{
    color: white;
    background-color: transparent;
    margin-top: -0.5rem;
    border: none;
    cursor: pointer;
}