*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2rem 1rem 2rem 5rem;    
    height: 100vh;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.product{
    width: 90%;
    height: 100%;
    padding: 0 2rem;
}

.product span{
    font-size: 1.5rem;
}

.product .table{
    padding: 2rem 1rem;
}


table { 
    table-layout: fixed;
    width: 100%; 
} 

.table table, tr, th, td{
    border: 0.1rem solid black;
    border-collapse: collapse;
    padding: 0.8rem 1rem;
}

.table tr{
    font-size: 0.9rem;
    text-align: center;
}

table tr th:nth-child(2){
    width: 15rem;
}


#image{
    width: 5rem;
    height: 6rem;
}

