*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', serif;
}

body::-webkit-scrollbar{
    width: 0.5rem; /* Set the width of the scrollbar */
    background-color: rgb(68, 68, 68);
}

body::-webkit-scrollbar-thumb {
    background-color: #d30000; /* Set the background color of the scrollbar thumb */
    border-radius: 2rem; /* Set the border radius of the scrollbar thumb */
}

#product-section{
    padding: 5rem 4rem;
    line-height: 4rem;
    color: white;
    background-color: black;
}

#product-section #search-bar{
    display: flex;
    align-items: center;
}

#product-section #search-bar i{
    position: absolute;
    font-size: 0.9rem;
    color: rgb(92, 92, 92);
    margin-left: 1rem;
}

#product-section #search-bar #search{
    padding: 0 2.5rem;
    height: 2.5rem;
    width: 15rem;
    border-radius: 1.5rem;
    outline: none;
    border: none;
}

#product-section #search-bar #search:focus{
    outline: 0.16rem solid red;
}


#product-section .product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    padding: 3rem 0 3rem 0;
    border-top: 0.2rem solid rgb(27, 27, 27);
    border-bottom: 0.2rem solid rgb(27, 27, 27);
    gap: 1rem;
}


#product-section .product-container .filtered{
    height: 18rem;
    width: 16rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.2rem solid rgba(71, 71, 71, 0.253);
    backdrop-filter: blur(1rem);
    cursor: pointer;
    overflow: hidden;

    opacity: 0;
    animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-in {
    to{
        opacity: 1;
    }
}
#product-section .product-container .filtered:hover{
    transform: scale(1.01);
}

#product-section .product-container .filtered img{
    height: 100%;
    width: 100%;
}

#product-section .product-container .filtered div{
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    margin-top: -6rem;
    padding: 0 1rem;
    width: 23rem;
    height: 5rem;
    background-color: rgba(71, 71, 71, 0.253); 
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color:white;
    backdrop-filter: blur(1.5rem);
}

#product-section .product-container .filtered div span:nth-child(1){
    margin-top: -0.8rem;
    height: 1rem;
    font-size: 0.9rem;
}

#product-section .product-container .filtered div span:nth-child(2){
    height: 1rem;
    font-size: 0.75rem;
}

#product-section .product-container .filtered div span:nth-child(3){
    height: 1rem;
    font-size: 0.6rem;
}

#product-clicked{
    display: none;
    color: white;
    height: 36rem;
    padding: 6rem;
    background-color: black;
}

#product-clicked .product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

#product-clicked .product #left{
    width: 35rem;
}

#product-clicked .product #left #addToCart{
    width: 8rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #e0a72b;
}

#product-clicked .product #left #buyNow{
    width: 8rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #e0a72b;
}

#product-clicked .product #left #details{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

#product-clicked .product #left #details #name{
    font-size: 2.5rem;
}

#product-clicked .product #left #details #anime{
    font-size: 1rem;
    color: rgb(66, 66, 66);
}

#product-clicked .product #left #details #price{
    font-size: 2rem;
    color: #e0a72b;
    font-weight: 600;
}

#product-clicked .product #left #details #description{
    font-size: 0.8rem;
    padding: 1rem;
    text-align: justify;
}

#product-clicked .product #right{
    width: 25rem;
    height: 30rem;
}

#product-clicked .product #right img{
    height: 100%;
    width: 100%;
}