
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', serif;
}

body::-webkit-scrollbar{
    width: 0.5rem; /* Set the width of the scrollbar */
    background-color: rgb(68, 68, 68);
}

body::-webkit-scrollbar-thumb {
    background-color: #d30000; /* Set the background color of the scrollbar thumb */
    border-radius: 2rem; /* Set the border radius of the scrollbar thumb */
}

section{
    width: 100%;
    overflow: hidden;
}

section #content{
    height: 70vh;
    background-image: url(../images/luffy.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: change 30s ease-out infinite;
}

@keyframes change {
    20%{
        background-image: url(../images/jujutsu.jpg);
    }
    40%{
        background-image: url(../images/demon-slayer.jpg);
    }
    60%{
        background-image: url(../images/naruto-with-glowing-orange-eyes-desktop-wallpaper-preview.jpg);
    }
    80%{
        background-image: url(../images/dragon\ ball.png);
    }
    100%{
        background-image: url(../images/luffy.jpeg); 
    }
}

section #content h1{
    height: 70vh;
    width: 100%;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, transparent, rgba(0,0,0,1) 100%);
}


#top-selling {
    height: 30rem;
    width: 100%;
    padding: 5.5rem 4rem ;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    background-color: black;
}

#top-selling #items {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    height: 100%;
    width: 100%;
    border-top: 0.2rem solid #414141;
    overflow-x: auto;
}

#top-selling #items::-webkit-scrollbar {
    height: 0.5rem; /* Set the width of the scrollbar */
    background-color: rgb(68, 68, 68);
    border-radius: 2rem;
}

#top-selling #items::-webkit-scrollbar-thumb {
    background-color: #d30000; /* Set the background color of the scrollbar thumb */
    border-radius: 2rem; /* Set the border radius of the scrollbar thumb */
}

#top-selling #items .top-selling-items {
    display: flex;
    align-items: center ;
    height: 13rem;
    width: 10rem;
    border-radius: 0.6rem;
    background-color: white;

    opacity: 0;
    animation: scroll 5s forwards;
    animation-range-start: cover;
}

#top-selling #items .top-selling-items img {
    height: 100%;
    width: 10rem;
    border-radius: 0.6rem;
}     

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', serif;
    font-size: 1.5rem;
    font-weight: 500;
    height: 5rem;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

#catalog{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 3rem 5rem 3rem;
    height:50rem;
    color: white;
    background-image: url(../images/japanese_bg.png);
    background-size: cover;
    background-position: center;
}


#catalog .catalog-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3.5rem;
    gap: 2rem;
    height: 40rem;
    width: 100%;
    overflow: hidden;
}

#catalog .catalog-container .catalog{
    height: 16rem;
    width: 25rem;
    border-radius: 0.4rem;
    background-color: white;
    border: 0.2rem solid rgba(71, 71, 71, 0.253);
    backdrop-filter: blur(1rem);
    cursor: pointer;
    overflow: hidden;
}

#catalog .catalog-container .catalog img{
    height: 100%;
    width: 100%;
}


#catalog .catalog-container .catalog div{
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    margin-top: -5.7rem;
    padding: 2rem 1.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.253); 
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color:white;
    backdrop-filter: blur(1.5rem);

    transition: 0.5s ease-in-out;
}

#catalog .catalog-container .catalog:hover div{
    margin-top: -15rem;
}


#catalog .catalog-container .catalog div span{
    height: 1rem;
    font-size: 1rem;
}

#catalog .catalog-container .catalog div p{
    font-size: 0.9rem;
    margin-top: 3.5rem;
    line-height: 1rem;
}

#catalog .catalog-container .catalog:hover div span{
    font-size: 1.3rem;
}

@keyframes scroll {
    to{
        opacity: 1;
    }
}

#catalog #see-catalog{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.5rem;
    width: 65%;
}

#catalog #see-catalog a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 0, 0);
}


#description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 6rem 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

#description .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60rem;
    height: 80%;
}

#description .wrapper div:nth-child(1){
    height: 100%;
}

#description .wrapper div:nth-child(1) img{
    width: 20rem;
}

#description .wrapper div:nth-child(2){
    width: 100%;
    padding: 0.8rem;
}

#description div:nth-child(2) span{
    font-size: 2rem;
    font-weight: 600;
    color: gold;
}

#description div:nth-child(2) div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

#description div:nth-child(2) div p{
    font-size: 0.8rem;
    text-align: justify;
}


@media only screen and (max-width: 768px) {
    #description .wrapper{
        flex-wrap: wrap;
        
    }
}
