
    <div class="bar black">
        <div id="logo">
            <img src="http://localhost/action-figure/images/logo.png" alt=""/>
            <h5>FigureHaven</h5>
        </div>
        <div class="links">
            <ul>
                <li>Home</li>
                <li>Catalog</li>
                <li>About Us</li>
                <li>FAQs</li>
                <li id="logged-out">
                    <a href="http://localhost/action-figure/pages/login.html">Login</a>
                </li>
                <li id="logged-in"></li>
            </ul>
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>    
  
