<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
</head>
<body>
    
    <div class="bar black">
        <div id="logo">
            <img src="../images/logo.png" alt=""/>
            <h5>FigureHaven</h5>
        </div>
        <div class="links">
            <ul>
                <li>Home</li>
                <li>Catalog</li>
                <li>About Us</li>
                <li>FAQs</li>
            </ul>
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>

</body>
</html>